<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>車牌辨識系統</title>

<style>
	table, th, td{
		border:solid black;
	}
	
	th, td{
		padding:10px;
	}
	
	td{
		line-height:30px;
	}
</style>

</head>
<body>
<div style="width:80%; margin:auto;">

<h1 style="text-align:center">訪客紀錄</h1>
<p style="text-align:right;">
<a href="#" style="background-color:#45c145; padding:10px; border-radius:5px;
color:white; text-decoration:none">+Add User</a>
</p>

<table style="width:100%; border-collapse:collapse;">
	<thead>
		<tr>
			<th>序號</th>
			<th>住戶姓名</th>
			<th>訪客車牌</th>
			<th>修改</th>
			<th>刪除</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td>1</td>
			<td>6F</td>
			<td>XYZ-4567</td>
			<td><a href="#" style="background-color:blue; padding:10px; border-radius:5px;
			color:white; text-decoration:none">修改</a></td>
			<td><a href="#" style="background-color:red; padding:10px; border-radius:5px;
			color:white; text-decoration:none">刪除</a></td>
		</tr>
		
		<tr>
			<td>2</td>
			<td>8F</td>
			<td>ABC-1234</td>
			<td><a href="#" style="background-color:blue; padding:10px; border-radius:5px;
			color:white; text-decoration:none">修改</a></td>
			<td><a href="#" style="background-color:red; padding:10px; border-radius:5px;
			color:white; text-decoration:none">刪除</a></td>
		</tr>
	</tbody>
</table>

</div>
</body>
</html>