<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>測試網頁</title>	
	<link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>123</h1>
<h2 id="test">123</h2>
<h3 class="testClass">456</h2>
<h3 class="testClass">789</h2>
<a href="http://www.slime.com.tw/">去遠方的連結</a>
<br>
<style>
h1,h2{
	font-family:"新細明體";
	font-size:20pt;
}

</style>
<img src=R.jpg title="HTML5 Icon" width=228 height=228>
</a>
<br>
<input type="radio" name="gender" value="male" checked> male<br>
<input type="radio" name="gender" value="female"> female<br>
<input type="radio" name="gender" value="other"> other<br>

TreeSize Free v4.7.0.522 來了！一套免費的硬碟檔案分析軟體，這套程式可以掃描使用者指定的硬碟或是資料夾，並以樹狀圖方式列出底下所有資料夾佔用的容量。
硬碟快要爆炸了嗎？試試這套軟體找出你佔用硬碟空間的兇手吧！謝謝網友 Alex 推薦 ^_^ 請到軟體下載區(硬碟工具)下載。

<p>
TreeSize Free v4.7.0.522 來了！一套免費的硬碟檔案分析軟體，這套程式可以掃描使用者指定的硬碟或是資料夾，並以樹狀圖方式列出底下所有資料夾佔用的容量。
硬碟快要爆炸了嗎？試試這套軟體找出你佔用硬碟空間的兇手吧！謝謝網友 Alex 推薦 ^_^ 請到軟體下載區(硬碟工具)下載。
</p>
123
<hr>

我曾住過的城市
<ul>
	<li>台北</li>
	<li>淡水</li>
	<li>高雄</li>	
</ul>

<ol>
	<li>台北</li>
	<li>淡水</li>
	<li>高雄</li>	
</ol>
<hr>

<div>
TreeSize Free v4.7.0.522 來了！一套免費的硬碟檔案分析軟體，這套程式可以掃描使用者指定的硬碟或是資料夾，並以樹狀圖方式列出底下所有資料夾佔用的容量。
硬碟快要爆炸了嗎？試試這套軟體找出你佔用硬碟空間的兇手吧！謝謝網友 Alex 推薦 ^_^ 請到軟體下載區(硬碟工具)下載。
</div>

TreeSize Free v4.7.0.522 來了！
<span style="color:blue; font-weight:bold">
一套免費的硬碟檔案分析軟體，這套程式可以掃描使用者指定的硬碟或是資料夾，並以樹狀圖方式列出底下所有資料夾佔用的容量。
硬碟快要爆炸了嗎？試試這套軟體找出你佔用硬碟空間的兇手吧！謝謝網友 Alex 推薦 ^_^ 請到軟體下載區(硬碟工具)下載。
</span>

<hr>
<a href="http://www.slime.com.tw/">超連結</a>

<br>
<audio controls>
<source src="hell.mp3" type="audio/mpeg">
</audio controls>
<br>

<input type="text" placeholder="請輸入">
<hr>

<label for=email>Email</label>
<input name=email id=email type=email required/>
<hr>

<label for=time>Time</label>
<input name=time id=time type=time required/>
<hr>

<table with="100%" border="1">
	<caption>通訊錄</caption>
	<thead style="background-color:#ccc;"> 
		<tr>
			<th>姓名</th>
			<th>學號</th>
			<th>電話</th>
		</tr>
	</thead>
	
	<tfoot>
		<tr>
			<td>Apple</td>
			<td>00001</td>
			<td>12345</td>			
		</tr>
	</tfoot>
	
	<tbody>
		<tr>
			<td>Ben</td>
			<td>00003</td>
			<td>23456</td>			
		</tr>
	</tbody>
</table>


</body>
</html>